@import url(
  "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
);

:root {
  font-family: "Roboto", sans-serif;
  --md-sys-color-primary: #6750A4;
  --md-sys-color-inverse-primary: #D0BCFF;
  --md-sys-color-on-surface-variant: #49454E;
  --md-sys-color-on-surface: #1C1B1F;
  --md-sys-color-secondary-container: #E8DEF8  ;
  --md-sys-color-primary-container: #EADDFF;
  --md-sys-color-on-primary-container: #21005E;
  --md-sys-color-error: #B3261E;

  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-container-low: #F7F2FA;
  --md-sys-color-surface-container-high: #ECE6F0;
  
  --md-sys-color-tertiary: #7D5260;
  --md-sys-color-background: #FEF7FF;

  --md-sys-typescale-display-medium-font: 400 45px/52px "Roboto", sans-serif;
  --md-sys-typescale-display-medium-letter-spacing: 0px;

  --md-sys-typescale-headline-medium-font: 400 28px/36px "Roboto", sans-serif;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;

  --md-sys-typescale-title-small-font: 500 14px/20px "Roboto", sans-serif;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;

  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  --md-sys-typescale-label-medium-font: 500 12px/16px "Roboto", sans-serif;

  --md-sys-typescale-body-large-letter-spacing: 0.3px;
  --md-sys-typescale-body-large-font: 400 16px/24px "Roboto", sans-serif;

  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-font: 400 14px/20px "Roboto", sans-serif;

  background-color: var(--md-sys-color-background);

  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#app {
  height: 100%;
  width: 100%;
  z-index: 0;
}